interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/ogcapi-features"],"links":[{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"data","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://planetarycomputer.microsoft.com/api/stac/v1/conformance"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","href":"https://planetarycomputer.microsoft.com/api/stac/v1/search","method":"GET"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","href":"https://planetarycomputer.microsoft.com/api/stac/v1/search","method":"POST"},{"rel":"http://www.opengis.net/def/rel/ogc/1.0/queryables","type":"application/schema+json","title":"Queryables
        available for this Catalog","href":"https://planetarycomputer.microsoft.com/api/stac/v1/queryables","method":"GET"},{"rel":"service-desc","type":"application/vnd.oai.openapi+json;version=3.0","title":"OpenAPI
        service description","href":"https://planetarycomputer.microsoft.com/api/stac/v1/openapi.json"},{"rel":"service-doc","type":"text/html","title":"OpenAPI
        service documentation","href":"https://planetarycomputer.microsoft.com/api/stac/v1/docs"}],"stac_extensions":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/[...]
- request:
    body: '{"collections": ["esa-worldcover"], "intersects": {"type": "Polygon", "coordinates":
      [[[-121.54, 46.72], [-121.54, 46.99], [-121.94, 46.99], [-121.94, 46.72], [-121.54,
      46.72]]]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","links":[{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/search"}],"features":[{"id":"ESA_WorldCover_10m_2021_v200_N45W123","bbox":[-123.0,45.0,-120.0,48.0],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/esa-worldcover"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/esa-worldcover"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/esa-worldcover/items/ESA_WorldCover_10m_2021_v200_N45W123"},{"rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=esa-worldcover&item=ESA_WorldCover_10m_2021_v200_N45W123","title":"Map
        of item","type":"text/html"}],"assets":{"map":{"href":"https://ai4edataeuwest.blob.core.windows.net/esa-worldcover/v200/2021/map/ESA_WorldCover_10m_2021_v200_N45W123_Map.tif","created":"2022-10-21T07:35:40.236136Z","proj:shape":[36000,36000],"proj:transform":[0.00008333333333333333,0.0,-123.0,0.0,-0.00008333333333333333,48.0],"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Land
        Cover Classes","description":"Discrete classification according to the Land
        Cover Classification System scheme developed by the United Nations Food and
        Agriculture Organization","raster:bands":[{"name":"Band1","nodata":0,"sampling":"area","data_type":"uint8","description":"Classification
        values","spatial_resolution":10}],"classification:classes":[{"value":10,"color-hint":"006400","description":"Tree
        cover"},{"value":20,"color-hint":"FFBB22","description":"Shrubland"},{"value":30,"color-hint":"FFFF4C","description":"Grassland"},{"value":40,"color-hint":"F096FF","description":"Cropland"},{"value":50,"color-hint":"FA0000","description":"Built-up"},{"value":60,"color-hint":"B4B4B4","description":"Bare
        / sparse vegetation"},{"value":70,"color-hint":"F0F0F0","description":"Snow
        and ice"},{"value":80,"color-hint":"0064C8","description":"Permanent water
        bodies"},{"value":90,"color-hint":"0096A0","description":"Herbaceous wetland"},{"value":95,"color-hint":"00CF75","description":"Mangroves"},{"value":100,"color-hint":"FAE6A0","description":"Moss
        and lichen"}]},"input_quality":{"href":"https://ai4edataeuwest.blob.core.windows.net/esa-worldcover/v200/2021/input_quality/ESA_WorldCover_10m_2021_v200_N45W123_InputQuality.tif","created":"2022-08-03T16:43:52.733279Z","proj:shape":[6000,6000],"proj:transform":[0.0005,0.0,-123.0,0.0,-0.0005,48.0],"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["metadata"],"title":"Classification
        Input Data Quality","description":"Per pixel quality indicator showing the
        quality of the input data.","raster:bands":[{"name":"Band1","nodata":-1,"sampling":"area","data_type":"int16","description":"Number
        of Sentinel-1 GAMMA0 observations used in the classification workflow","spatial_resolution":60},{"name":"Band2","nodata":-1,"sampling":"area","data_type":"int16","description":"Number
        of Sentinel-2 L2A observations used in the classification workflow","spatial_resolution":60},{"name":"Band3","nodata":-1,"sampling":"area","data_type":"int16","description":"Percentage
        (0-100) of invalid S2 observations discarded in the classification workflow
        (after cloud and cloud shadow filtering)","spatial_resolution":60}]},"tilejson":{"title":"TileJSON
        with default rendering","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/tilejson.json?collection=esa-worldcover&item=ESA_WorldCover_10m_2021_v200_N45W123&assets=map&colormap_name=esa-worldcover&format=png","type":"application/json","roles":["tiles"]},"rendered_preview":{"title":"Rendered
        preview","rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/preview.png?collection=esa-worldcover&item=ESA_WorldCover_10m_2021_v200_N45W123&assets=map&colormap_name=esa-worldcover&format=png","roles":["overview"],"type":"image/png"}},"geometry":{"type":"Polygon","coordinates":[[[-123,48],[-123,45],[-120,45],[-120,48],[-123,48]]]},"collection":"esa-worldcover","properties":{"created":"2023-04-06T16:52:35.904622Z","mission":"sentinel-1,
        sentinel-2","datetime":null,"platform":"sentinel-1a, sentinel-1b, sentinel-2a,
        sentinel-2b","grid:code":"ESAWORLDCOVER-N45W123","proj:epsg":4326,"description":"ESA
        WorldCover product at 10m resolution","instruments":["c-sar","msi"],"end_datetime":"2021-12-31T23:59:59Z","start_datetime":"2021-01-01T00:00:00Z","esa_worldcover:product_tile":"N45W123","esa_worldcover:product_version":"2.0.0"},"stac_extensions":["https://stac-extensions.github.io/projection/v1.1.0/schema.json","https://stac-extensions.github.io/grid/v1.1.0/schema.json","https://stac-extensions.github.io/raster/v1.1.0/schema.json","https://stac-extensions.github.io/classification/v1.0.0/schema.json"],"stac_version":"1.0.0"},{"id":"ESA_WorldCover_10m_2020_v100_N45W123","bbox":[-123.0,45.0,-120.0,48.0],"type":"Feature[...]
