site_name: easysnowdata
site_description: package to easily get data relevant to snow
site_author: egagli
site_url: https://egagli.github.io/easysnowdata
repo_url: https://github.com/egagli/easysnowdata

copyright: "Copyright &copy; 2024 - 2024 Eric Gagliano"

theme:
    palette:
        - scheme: default
          #   primary: blue
          #   accent: indigo
          toggle:
              icon: material/toggle-switch-off-outline
              name: Switch to dark mode
        - scheme: slate
          primary: indigo
          accent: indigo
          toggle:
              icon: material/toggle-switch
              name: Switch to light mode
    name: material
    icon:
        repo: fontawesome/brands/github
    # logo: assets/logo.png
    # favicon: assets/favicon.png
    features:
        - navigation.instant
        - navigation.tracking
        - navigation.top
        - search.highlight
        - search.share
    custom_dir: "docs/overrides"
    font:
        text: Google Sans
        code: Regular

plugins:
    - search
    - mkdocstrings
    - git-revision-date
    - git-revision-date-localized:
          enable_creation_date: true
          type: timeago
    # - pdf-export
    - mkdocs-jupyter:
          include_source: True
          ignore_h1_titles: True
          execute: True
          allow_errors: True # this was false before
          ignore: ["conf.py"]
          execute_ignore: ["*ignore.ipynb"]
          
markdown_extensions:
    - admonition
    - abbr
    - attr_list
    - def_list
    - footnotes
    - meta
    - md_in_html
    - pymdownx.superfences
    - pymdownx.highlight:
          linenums: true
    - toc:
          permalink: true

# extra:
#     analytics:
#         provider: google
#         property: UA-XXXXXXXXX-X

nav:
    - Home: index.md
    - Installation: installation.md
    - Usage: usage.md
    - Contributing: contributing.md
    - FAQ: faq.md
    - Changelog: changelog.md
    - Report Issues: https://github.com/egagli/easysnowdata/issues
    - Examples:
        - examples/remote_sensing_examples.ipynb
        - examples/automatic_weather_station_examples.ipynb
        - examples/topography_examples.ipynb
        - examples/hydrology_examples.ipynb
    - API Reference:
          - easysnowdata module: easysnowdata.md
          - remote_sensing module: remote_sensing.md
          - automatic_weather_station module: automatic_weather_stations.md
          - topography module: topography.md
          - hydrology module: hydrology.md
          - utils module: utils.md
