numpy
matplotlib
pandas
geopandas
rasterio
xarray
rioxarray
shapely==2.0.6
pystac-client
planetary-computer
odc-stac
earthengine-api
xee
beautifulsoup4
py3dep
earthaccess
contextily
folium
mapclassify
lxml
pytkdocs[numpy-style]
scikit-image
pytest
