numpy
matplotlib
pandas
geopandas
rasterio
xarray
rioxarray
shapely
pystac-client
planetary-computer
odc-stac
xee
beautifulsoup4
py3dep
earthaccess
contextily
folium
mapclassify
lxml
pytkdocs[numpy-style]
scikit-image
