interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/ogcapi-features"],"links":[{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"data","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://planetarycomputer.microsoft.com/api/stac/v1/conformance"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","href":"https://planetarycomputer.microsoft.com/api/stac/v1/search","method":"GET"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","href":"https://planetarycomputer.microsoft.com/api/stac/v1/search","method":"POST"},{"rel":"http://www.opengis.net/def/rel/ogc/1.0/queryables","type":"application/schema+json","title":"Queryables
        available for this Catalog","href":"https://planetarycomputer.microsoft.com/api/stac/v1/queryables","method":"GET"},{"rel":"service-desc","type":"application/vnd.oai.openapi+json;version=3.0","title":"OpenAPI
        service description","href":"https://planetarycomputer.microsoft.com/api/stac/v1/openapi.json"},{"rel":"service-doc","type":"text/html","title":"OpenAPI
        service documentation","href":"https://planetarycomputer.microsoft.com/api/stac/v1/docs"}],"stac_extensions":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/[...]
- request:
    body: '{"datetime": "2023-08-01T00:00:00Z/2023-08-06T23:59:59Z", "collections":
      ["hls2-s30"], "intersects": {"type": "Polygon", "coordinates": [[[-121.54, 46.72],
      [-121.54, 46.99], [-121.94, 46.99], [-121.94, 46.72], [-121.54, 46.72]]]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","links":[{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/search"}],"features":[{"id":"HLS.S30.T10TES.2023215T190921.v2.0","bbox":[-123.000263,45.961706,-121.641037,46.953709],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/hls2-s30"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/hls2-s30"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/hls2-s30/items/HLS.S30.T10TES.2023215T190921.v2.0"},{"rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=hls2-s30&item=HLS.S30.T10TES.2023215T190921.v2.0","title":"Map
        of item","type":"text/html"}],"assets":{"B01":{"href":"https://hls2euwest.blob.core.windows.net/hls2/S30/10/T/ES/2023/08/03/HLS.S30.T10TES.2023215T190921.v2.0/HLS.S30.T10TES.2023215T190921.v2.0.B01.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"eo:bands":[{"name":"B01","common_name":"coastal","center_wavelength":0.4439,"full_width_half_max":0.027}]},"B02":{"href":"https://hls2euwest.blob.core.windows.net/hls2/S30/10/T/ES/2023/08/03/HLS.S30.T10TES.2023215T190921.v2.0/HLS.S30.T10TES.2023215T190921.v2.0.B02.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"eo:bands":[{"name":"B02","common_name":"blue","center_wavelength":0.4966,"full_width_half_max":0.098}]},"B03":{"href":"https://hls2euwest.blob.core.windows.net/hls2/S30/10/T/ES/2023/08/03/HLS.S30.T10TES.2023215T190921.v2.0/HLS.S30.T10TES.2023215T190921.v2.0.B03.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"eo:bands":[{"name":"B03","common_name":"green","center_wavelength":0.56,"full_width_half_max":0.045}]},"B04":{"href":"https://hls2euwest.blob.core.windows.net/hls2/S30/10/T/ES/2023/08/03/HLS.S30.T10TES.2023215T190921.v2.0/HLS.S30.T10TES.2023215T190921.v2.0.B04.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"eo:bands":[{"name":"B04","common_name":"red","center_wavelength":0.6645,"full_width_half_max":0.038}]},"B05":{"href":"https://hls2euwest.blob.core.windows.net/hls2/S30/10/T/ES/2023/08/03/HLS.S30.T10TES.2023215T190921.v2.0/HLS.S30.T10TES.2023215T190921.v2.0.B05.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"eo:bands":[{"name":"B05","center_wavelength":0.7039,"full_width_half_max":0.019}]},"B06":{"href":"https://hls2euwest.blob.core.windows.net/hls2/S30/10/T/ES/2023/08/03/HLS.S30.T10TES.2023215T190921.v2.0/HLS.S30.T10TES.2023215T190921.v2.0.B06.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"eo:bands":[{"name":"B06","center_wavelength":0.7402,"full_width_half_max":0.018}]},"B07":{"href":"https://hls2euwest.blob.core.windows.net/hls2/S30/10/T/ES/2023/08/03/HLS.S30.T10TES.2023215T190921.v2.0/HLS.S30.T10TES.2023215T190921.v2.0.B07.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"eo:bands":[{"name":"B07","center_wavelength":0.7825,"full_width_half_max":0.028}]},"B08":{"href":"https://hls2euwest.blob.core.windows.net/hls2/S30/10/T/ES/2023/08/03/HLS.S30.T10TES.2023215T190921.v2.0/HLS.S30.T10TES.2023215T190921.v2.0.B08.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"eo:bands":[{"name":"B08","common_name":"nir","center_wavelength":0.8351,"full_width_half_max":0.145}]},"B09":{"href":"https://hls2euwest.blob.core.windows.net/hls2/S30/10/T/ES/2023/08/03/HLS.S30.T10TES.2023215T190921.v2.0/HLS.S30.T10TES.2023215T190921.v2.0.B09.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"eo:bands":[{"name":"B09","center_wavelength":0.945,"full_width_half_max":0.026}]},"B10":{"href":"https://hls2euwest.blob.core.windows.net/hls2/S30/10/T/ES/2023/08/03/HLS.S30.T10TES.2023215T190921.v2.0/HLS.S30.T10TES.2023215T190921.v2.0.B10.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"eo:bands":[{"name":"B10","common_name":"cirrus","center_wavelength":1.3735,"full_width_half_max":0.075}]},"B11":{"href":"https://hls2euwest.blob.core.windows.net/hls2/S30/10/T/ES/2023/08/03/HLS.S30.T10TES.2023215T190921.v2.0/HLS.S30.T10TES.2023215T190921.v2.0.B11.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"eo:bands":[{"name":"B11","common_name":"swir16","center_wavelength":1.6137,"full_width_half_max":0.143}]},"B12":{"href":"https://hls2euwest.blob.core.windows.net/hls2/S30/10/T/ES/2023/08/03/HLS.S30.T10TES.2023215T190921.v2.0/HLS.S30.T10TES.2023215T190921.v2.0.B12.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"eo:bands":[{"name":"B12","common_name":"swir22","center_wavelength":2.22024,"full_width_half_max":0.242}]},"B8A":{"href":"https://hls2euwest.blob.core.windows.net/hls2/S30/10/T/ES/2023/08/03/HLS.S30.T10TES.2023215T190921.v2.0/HLS.S30.T10TES.2023215T190921.v2.0.B8A.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"eo:bands":[{"name":"B8A","center_wavelength":0.8648,"full_width_half_max":0.033}]},"SAA":{"href":"https://hls2euwest.blob.core.windows.net/hls2/S30/10/T/ES/2023/08/03/HLS.S30.T10TES.2023215T190921.v2.0/HLS.S30.T10TES.2023215T190921.v2.0.SAA.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"eo:bands":[{"name":"SAA"}]},"SZA":{"href":"https://hls2euwest.blob.core.windows.net/hls2/S30/10/T/ES/2023/08/03/HLS.S30.T10TES.2023215T190921.v2.0/HLS.S30.T10TES.2023215T190921.v2.0.SZA.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"eo:bands":[{"name":"SZA"}]},"VAA":{"href":"https://hls2euwest.blob.core.windows.net/hls2/S30/10/T/ES/2023/08/03/HLS.S30.T10TES.2023215T190921.v2.0/HLS.S30.T10TES.2023215T190921.v2.0.VAA.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"eo:bands":[{"name":"VAA"}]},"VZA":{"href":"https://hls2euwest.blob.core.windows.net/hls2/S30/10/T/ES/2023/08/03/HLS.S30.T10TES.2023215T190921.v2.0/HLS.S30.T10TES.2023215T190921.v2.0.VZA.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"eo:bands":[{"name":"VZA"}]},"Fmask":{"href":"https://hls2euwest.blob.core.windows.net/hls2/S30/10/T/ES/2023/08/03/HLS.S30.T10TES.2023215T190921.v2.0/HLS.S30.T10TES.2023215T190921.v2.0.Fmask.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"eo:bands":[{"name":"Fmask"}]},"thumbnail":{"href":"https://hls2euwest.blob.core.windows.net/hls2/S30/10/T/ES/2023/08/03/HLS.S30.T10TES.2023215T190921.v2.0/HLS.S30.T10TES.2023215T190921.v2.0.jpg","type":"image/jpeg","roles":["thumbnail"]},"tilejson":{"title":"TileJSON
        with default rendering","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/tilejson.json?collection=hls2-s30&item=HLS.S30.T10TES.2023215T190921.v2.0&assets=B04&assets=B03&assets=B02&color_formula=gamma+RGB+2.7%2C+saturation+1.5%2C+sigmoidal+RGB+15+0.55&format=png","type":"application/json","roles":["tiles"]},"rendered_preview":{"title":"Rendered
        preview","rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/preview.png?collection=hls2-s30&item=HLS.S30.T10TES.2023215T190921.v2.0&assets=B04&assets=B03&assets=B02&color_formula=gamma+RGB+2.7%2C+saturation+1.5%2C+sigmoidal+RGB+15+0.55&format=png","roles":["overview"],"type":"image/png"}},"geometry":{"type":"MultiPolygon","coordinates":[[[[-123.000258,45.965551],[-123.000263,46.953709],[-121.641037,46.945644],[-122.062536,45.961706],[-123.000258,45.965551]]]]},"collection":"hls2-s30","properties":{"sci:doi":"10.5067/HLS/HLSS30.002","datetime":"2023-08-03T19:21:42.558160Z","platform":"sentinel-2a","proj:epsg":32610,"proj:shape":[3660,3660],"instruments":["msi"],"end_datetime":"2023-08-03T19:21:42.558160Z","view:azimuth":287.36824504,"eo:cloud_cover":0.0,"proj:transform":[30.0,0.0,499980.0,0.0,-30.0,5200020.0,0.0,0.0,1.0],"start_datetime":"2023-08-03T19:21:42.558160Z","view:sun_azimuth":154.41003119},"stac_extensions":["https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/projection/v1.1.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/scientific/v1.0.0/schema.json"],"stac_version":"1.0.0"},{"id":"HLS.S30.T10TFS.2023215T190921.v2.0","bbox":[-121.687629,46.845758,-121.641037,46.946168],"type":"Feature","links":[{"rel":"collection","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/sas/v1/token/hls2euwest/hls2
  response:
    body:
      string: '{"msft:expiry":"2026-09-16T17:21:56Z","token":"st=2026-09-15T16%3A36%3A56Z&se=2026-09-16T17%3A21%3A56Z&sp=rl&sv=2025-07-05&sr=c&skoid=9c8ff44a-6a2c-4dfb-b298-1c9212f64d9a&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2026-09-16T13%3A59%3A05Z&ske=2026-09-23T13%3A59%3A05Z&sks=b&skv=2025-07-05&sig=Nby%2Beslsk1rgOvcn5hoRIapp5whzfggNu6fV39/lHcA%3D"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
