interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/stac/LPCLOUD
  response:
    body:
      string: '{"type":"Catalog","id":"LPCLOUD","title":"LPCLOUD STAC Catalog","stac_version":"1.0.0","description":"Root
        STAC catalog for LPCLOUD","conformsTo":["https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#features","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/item-search#context","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0/collection-search","https://api.stacspec.org/v1.0.0/collection-search#free-text","https://api.stacspec.org/v1.0.0/collection-search#sort","http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/simple-query"],"links":[{"rel":"self","href":"https://cmr.earthdata.nasa.gov/stac/LPCLOUD","type":"application/geo+json","title":"Provider
        Catalog"},{"rel":"root","href":"https://cmr.earthdata.nasa.gov/stac","type":"application/json","title":"Root
        Catalog"},{"rel":"parent","href":"https://cmr.earthdata.nasa.gov/stac","type":"application/json","title":"Root
        Catalog"},{"rel":"data","href":"https://cmr.earthdata.nasa.gov/stac/LPCLOUD/collections","type":"application/json","title":"Provider
        Collections","method"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/stac
  response:
    body:
      string: '{"type":"Catalog","id":"CMR-STAC","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#features","https://api.stacspec.org/v1.0.0/item-search#quer[...]
- request:
    body: '{"datetime": "2024-07-01T00:00:00Z/2024-07-31T23:59:59Z", "collections":
      ["HLSL30_2.0"], "intersects": {"type": "Polygon", "coordinates": [[[-121.54,
      46.72], [-121.54, 46.99], [-121.94, 46.99], [-121.94, 46.72], [-121.54, 46.72]]]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cmr.earthdata.nasa.gov/stac/LPCLOUD/search
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","id":"HLS.L30.T10TFT.2024183T185456.v2.0","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.0.0/schema.json","https://stac-extensions.github.io/storage/v2.0.0/schema.json"],"properties":{"datetime":"2024-07-01T18:54:56.408Z","eo:cloud_cover":75,"storage:schemes":{"aws":{"type":"aws-s3","platform":"https://{bucket}.s3.{region}.amazonaws.com","bucket":"lp-prod-protected","region":"us-west-2"}},"start_datetime":"2024-07-01T18:54:56.408Z","end_datetime":"2024-07-01T18:54:56.408Z"},"geometry":{"type":"Polygon","coordinates":[[[-120.7873941,46.8443109],[-120.3833119,47.8238718],[-121.6633998,47.8459211],[-121.6881131,46.858182],[-120.7873941,46.8443109]]]},"bbox":[-121.6881131,46.8443109,-120.3833119,47.8459211],"assets":{"browse":{"href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-public/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.jpg","title":"Download
        HLS.L30.T10TFT.2024183T185456.v2.0.jpg","type":"image/jpeg","roles":["browse"]},"thumbnail_0":{"href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-public/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.jpg","title":"Thumbnail
        [0]","description":"Download HLS.L30.T10TFT.2024183T185456.v2.0.jpg","roles":["thumbnail"]},"thumbnail_1":{"href":"s3://lp-prod-public/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.jpg","title":"Thumbnail
        [1]","description":"This link provides direct download access via S3 to the
        granule","roles":["thumbnail"]},"B03":{"href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.B03.tif","title":"Direct
        Download [0]","description":"Download HLS.L30.T10TFT.2024183T185456.v2.0.B03.tif","roles":["data"]},"B04":{"href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.B04.tif","title":"Direct
        Download [1]","description":"Download HLS.L30.T10TFT.2024183T185456.v2.0.B04.tif","roles":["data"]},"B06":{"href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.B06.tif","title":"Direct
        Download [2]","description":"Download HLS.L30.T10TFT.2024183T185456.v2.0.B06.tif","roles":["data"]},"Fmask":{"href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.Fmask.tif","title":"Direct
        Download [3]","description":"Download HLS.L30.T10TFT.2024183T185456.v2.0.Fmask.tif","roles":["data"]},"VZA":{"href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.VZA.tif","title":"Direct
        Download [4]","description":"Download HLS.L30.T10TFT.2024183T185456.v2.0.VZA.tif","roles":["data"]},"B01":{"href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.B01.tif","title":"Direct
        Download [5]","description":"Download HLS.L30.T10TFT.2024183T185456.v2.0.B01.tif","roles":["data"]},"B11":{"href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.B11.tif","title":"Direct
        Download [6]","description":"Download HLS.L30.T10TFT.2024183T185456.v2.0.B11.tif","roles":["data"]},"B10":{"href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.B10.tif","title":"Direct
        Download [7]","description":"Download HLS.L30.T10TFT.2024183T185456.v2.0.B10.tif","roles":["data"]},"VAA":{"href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.VAA.tif","title":"Direct
        Download [8]","description":"Download HLS.L30.T10TFT.2024183T185456.v2.0.VAA.tif","roles":["data"]},"SZA":{"href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.SZA.tif","title":"Direct
        Download [9]","description":"Download HLS.L30.T10TFT.2024183T185456.v2.0.SZA.tif","roles":["data"]},"B09":{"href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.B09.tif","title":"Direct
        Download [10]","description":"Download HLS.L30.T10TFT.2024183T185456.v2.0.B09.tif","roles":["data"]},"B02":{"href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.B02.tif","title":"Direct
        Download [11]","description":"Download HLS.L30.T10TFT.2024183T185456.v2.0.B02.tif","roles":["data"]},"B07":{"href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.B07.tif","title":"Direct
        Download [12]","description":"Download HLS.L30.T10TFT.2024183T185456.v2.0.B07.tif","roles":["data"]},"SAA":{"href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.SAA.tif","title":"Direct
        Download [13]","description":"Download HLS.L30.T10TFT.2024183T185456.v2.0.SAA.tif","roles":["data"]},"B05":{"href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.B05.tif","title":"Direct
        Download [14]","description":"Download HLS.L30.T10TFT.2024183T185456.v2.0.B05.tif","roles":["data"]},"s3_B03":{"href":"s3://lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.B03.tif","title":"S3
        Direct Download [0]","description":"This link provides direct download access
        via S3 to the granule","roles":["data"],"storage:refs":["aws"]},"s3_B04":{"href":"s3://lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.B04.tif","title":"S3
        Direct Download [1]","description":"This link provides direct download access
        via S3 to the granule","roles":["data"],"storage:refs":["aws"]},"s3_B06":{"href":"s3://lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.B06.tif","title":"S3
        Direct Download [2]","description":"This link provides direct download access
        via S3 to the granule","roles":["data"],"storage:refs":["aws"]},"s3_Fmask":{"href":"s3://lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.Fmask.tif","title":"S3
        Direct Download [3]","description":"This link provides direct download access
        via S3 to the granule","roles":["data"],"storage:refs":["aws"]},"s3_VZA":{"href":"s3://lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.VZA.tif","title":"S3
        Direct Download [4]","description":"This link provides direct download access
        via S3 to the granule","roles":["data"],"storage:refs":["aws"]},"s3_B01":{"href":"s3://lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.B01.tif","title":"S3
        Direct Download [5]","description":"This link provides direct download access
        via S3 to the granule","roles":["data"],"storage:refs":["aws"]},"s3_B11":{"href":"s3://lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.B11.tif","title":"S3
        Direct Download [6]","description":"This link provides direct download access
        via S3 to the granule","roles":["data"],"storage:refs":["aws"]},"s3_B10":{"href":"s3://lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.B10.tif","title":"S3
        Direct Download [7]","description":"This link provides direct download access
        via S3 to the granule","roles":["data"],"storage:refs":["aws"]},"s3_VAA":{"href":"s3://lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.VAA.tif","title":"S3
        Direct Download [8]","description":"This link provides direct download access
        via S3 to the granule","roles":["data"],"storage:refs":["aws"]},"s3_SZA":{"href":"s3://lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.SZA.tif","title":"S3
        Direct Download [9]","description":"This link provides direct download access
        via S3 to the granule","roles":["data"],"storage:refs":["aws"]},"s3_B09":{"href":"s3://lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.B09.tif","title":"S3
        Direct Download [10]","description":"This link provides direct download access
        via S3 to the granule","roles":["data"],"storage:refs":["aws"]},"s3_B02":{"href":"s3://lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.B02.tif","title":"S3
        Direct Download [11]","description":"This link provides direct download access
        via S3 to the granule","roles":["data"],"storage:refs":["aws"]},"s3_B07":{"href":"s3://lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.B07.tif","title":"S3
        Direct Download [12]","description":"This link provides direct download access
        via S3 to the granule","roles":["data"],"storage:refs":["aws"]},"s3_SAA":{"href":"s3://lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.SAA.tif","title":"S3
        Direct Download [13]","description":"This link provides direct download access
        via S3 to the granule","roles":["data"],"storage:refs":["aws"]},"s3_B05":{"href":"s3://lp-prod-protected/HLSL30.020/HLS.L30.T10TFT.2024183T185456.v2.0/HLS.L30.T10TFT.2024183T185456.v2.0.B05.tif","title":"S3
        Direct Download [14]","description":"This link provides direct download access
        via S3 to the granule","roles":["data"],"storage:refs":["aws"]},"metadata":{"href":"https://cmr.earthdata.nasa.gov/search/concepts/G3144076103-LPCLOUD.xml","title":"CMR
        XML metadata for G3144076103-LPCLOUD","type":"application/xml","roles":["metadata"]}},"links":[{"rel":"self","href":"https://cmr.earthdata.nasa.gov/stac/LPCLOUD/collections/HLSL30_2.0/items/HLS.L30.T10TFT.2024183T185456.v2.0","type":"application/geo+json"},{"rel":"parent","href":"https://cmr.earthdata.nasa.gov/stac/LPCLOUD/collections/HLSL30_2.0/","type":"application/geo+json"},{"rel":"collection","href":"https://cmr.earthdata.nasa.gov/stac/LPCLOUD/collections/HLSL30_2.0/","type":"application/geo+json"},{"rel":"root","href":"https://cmr.earthdata.nasa.gov/stac","type":"application/json"},{"rel":"provider","href":"https://cmr.earthdata.nasa.gov/stac/LPCLOUD","type":"application/json"},{"rel":"via","href":"https://cmr.earthdata.nasa.gov/search/concepts/G3144076103-LPCLOUD.json","title":"CMR
        JSON metadata for item","type":"application/json"},{"rel":"via","href":"https://cmr.earthdata.nasa.gov/search/concepts/G3144076103-LPCLOUD.umm_json","title":"CMR
        UMM_JSON metadata for item","type":"application/vnd.nasa.cmr.umm+json"}],"collection":"HLSL30_2.0"},{"type":"Feature","id":"HLS.L30.T10TFS.2024183T185456.v2.0","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.0.0/schema.json","https://stac-extensions.github.io/storage/v2.0.0/schema.json"],"properties":{"datetime":"2024-07-01T18:54:56.408Z","eo:cloud_cover":44,"storage:schemes":{"aws":{"type":"aws-s3","platform":"https://{bucket}.s3.{region}.amazonaws.com","bucket":"lp-prod-protected","region":"us-west-2"}},"start_datetime":"2024-07-01T18:54:56.40[...]
