interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: '{"datetime": "2024-07-01T00:00:00Z/2024-07-10T23:59:59Z", "collections":
      ["sentinel-2-l2a"], "intersects": {"type": "Polygon", "coordinates": [[[-121.54,
      46.72], [-121.54, 46.99], [-121.94, 46.99], [-121.94, 46.72], [-121.54, 46.72]]]},
      "query": {"eo:cloud_cover": {"lt": 60}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":16,"returned":10},"numberMatched":16,"numberReturned":10,"features":[{"type":"Feature","stac_version":"1.0.0","id":"S2B_10TES_20240710_0_L2A","properties":{"created":"2024-07-11T01:34:21.490Z","platform":"sentinel-2b","constellation":"sentinel-2","instruments":["msi"],"eo:cloud_cover":0.001934,"proj:epsg":32610,"mgrs:utm_zone":10,"mgrs:latitude_band":"T","mgrs:grid_square":"ES","grid:code":"MGRS-10TES","view:sun_azimuth":147.033569763235,"view:sun_elevation":62.497186715589805,"s2:degraded_msi_data_percentage":0.0215,"s2:nodata_pixel_percentage":0,"s2:saturated_defective_pixel_percentage":0,"s2:dark_features_percentage":0.247999,"s2:cloud_shadow_percentage":0,"s2:vegetation_percentage":92.059016,"s2:not_vegetated_percentage":4.378273,"s2:water_percent[...]
