interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: '{"datetime": "2023-08-01T00:00:00Z/2023-08-12T23:59:59Z", "collections":
      ["sentinel-2-c1-l2a"], "intersects": {"type": "Polygon", "coordinates": [[[-121.54,
      46.72], [-121.54, 46.99], [-121.94, 46.99], [-121.94, 46.72], [-121.54, 46.72]]]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"stac_version\":\"1.0.0\",\"stac_extensions\":[],\"context\":{\"limit\":10,\"matched\":16,\"returned\":10},\"numberMatched\":16,\"numberReturned\":10,\"features\":[{\"type\":\"Feature\",\"stac_version\":\"1.0.0\",\"id\":\"S2A_T10TES_20230810T190409_L2A\",\"properties\":{\"created\":\"2024-01-09T07:49:18.383Z\",\"platform\":\"sentinel-2a\",\"constellation\":\"sentinel-2\",\"instruments\":[\"msi\"],\"eo:cloud_cover\":82.953525,\"proj:epsg\":32610,\"proj:centroid\":{\"lat\":46.45665,\"lon\":-122.28534},\"mgrs:utm_zone\":10,\"mgrs:latitude_band\":\"T\",\"mgrs:grid_square\":\"ES\",\"grid:code\":\"MGRS-10TES\",\"view:azimuth\":104.52865721228592,\"view:incidence_angle\":6.000132516977083,\"view:sun_azimuth\":151.945058167986,\"view:sun_elevation\":56.3530994256371,\"s2:tile_id\":\"S2A_OPER_MSI_L2A_TL_2APS_20230811T004852_A042481_T10TES_N05.09\",\"s2:degraded_msi_data_percentage\":0.0001,\"s2:nodata_pixel_percentage\":0,\"s2:saturated_defective_pixel_percentage\":0,\"s2:dark_features_p[...]
