interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/ogcapi-features"],"links":[{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"data","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://planetarycomputer.microsoft.com/api/stac/v1/conformance"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","href":"https://planetarycomputer.microsoft.com/api/stac/v1/search","method":"GET"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","href":"https://planetarycomputer.microsoft.com/api/stac/v1/search","method":"POST"},{"rel":"http://www.opengis.net/def/rel/ogc/1.0/queryables","type":"application/schema+json","title":"Queryables
        available for this Catalog","href":"https://planetarycomputer.microsoft.com/api/stac/v1/queryables","method":"GET"},{"rel":"service-desc","type":"application/vnd.oai.openapi+json;version=3.0","title":"OpenAPI
        service description","href":"https://planetarycomputer.microsoft.com/api/stac/v1/openapi.json"},{"rel":"service-doc","type":"text/html","title":"OpenAPI
        service documentation","href":"https://planetarycomputer.microsoft.com/api/stac/v1/docs"}],"stac_extensions":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/[...]
- request:
    body: '{"datetime": "2023-08-01T00:00:00Z/2023-08-12T23:59:59Z", "collections":
      ["sentinel-2-l2a"], "intersects": {"type": "Polygon", "coordinates": [[[-121.54,
      46.72], [-121.54, 46.99], [-121.94, 46.99], [-121.94, 46.72], [-121.54, 46.72]]]},
      "query": {"eo:cloud_cover": {"lt": 40.0}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","links":[{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/search"}],"features":[{"id":"S2A_MSIL2A_20230810T185921_R013_T10TFT_20241026T031807","bbox":[-121.6881131,46.8326283,-120.1971533,47.8459211],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-2-l2a"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-2-l2a"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-2-l2a/items/S2A_MSIL2A_20230810T185921_R013_T10TFT_20241026T031807"},{"rel":"license","href":"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice"},{"rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=sentinel-2-l2a&item=S2A_MSIL2A_20230810T185921_R013_T10TFT_20241026T031807","title":"Map
        of item","type":"text/html"}],"assets":{"AOT":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/GRANULE/L2A_T10TFT_A042481_20230810T190409/IMG_DATA/R10m/T10TFT_20230810T185921_AOT_10m.tif","proj:bbox":[600000.0,5190240.0,709800.0,5300040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,600000.0,0.0,-10.0,5300040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Aerosol
        optical thickness (AOT)"},"B01":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/GRANULE/L2A_T10TFT_A042481_20230810T190409/IMG_DATA/R60m/T10TFT_20230810T185921_B01_60m.tif","proj:bbox":[600000.0,5190240.0,709800.0,5300040.0],"proj:shape":[1830,1830],"proj:transform":[60.0,0.0,600000.0,0.0,-60.0,5300040.0],"gsd":60.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        1 - Coastal aerosol - 60m","eo:bands":[{"name":"B01","common_name":"coastal","description":"Band
        1 - Coastal aerosol","center_wavelength":0.443,"full_width_half_max":0.027}]},"B02":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/GRANULE/L2A_T10TFT_A042481_20230810T190409/IMG_DATA/R10m/T10TFT_20230810T185921_B02_10m.tif","proj:bbox":[600000.0,5190240.0,709800.0,5300040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,600000.0,0.0,-10.0,5300040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        2 - Blue - 10m","eo:bands":[{"name":"B02","common_name":"blue","description":"Band
        2 - Blue","center_wavelength":0.49,"full_width_half_max":0.098}]},"B03":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/GRANULE/L2A_T10TFT_A042481_20230810T190409/IMG_DATA/R10m/T10TFT_20230810T185921_B03_10m.tif","proj:bbox":[600000.0,5190240.0,709800.0,5300040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,600000.0,0.0,-10.0,5300040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        3 - Green - 10m","eo:bands":[{"name":"B03","common_name":"green","description":"Band
        3 - Green","center_wavelength":0.56,"full_width_half_max":0.045}]},"B04":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/GRANULE/L2A_T10TFT_A042481_20230810T190409/IMG_DATA/R10m/T10TFT_20230810T185921_B04_10m.tif","proj:bbox":[600000.0,5190240.0,709800.0,5300040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,600000.0,0.0,-10.0,5300040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        4 - Red - 10m","eo:bands":[{"name":"B04","common_name":"red","description":"Band
        4 - Red","center_wavelength":0.665,"full_width_half_max":0.038}]},"B05":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/GRANULE/L2A_T10TFT_A042481_20230810T190409/IMG_DATA/R20m/T10TFT_20230810T185921_B05_20m.tif","proj:bbox":[600000.0,5190240.0,709800.0,5300040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,600000.0,0.0,-20.0,5300040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        5 - Vegetation red edge 1 - 20m","eo:bands":[{"name":"B05","common_name":"rededge","description":"Band
        5 - Vegetation red edge 1","center_wavelength":0.704,"full_width_half_max":0.019}]},"B06":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/GRANULE/L2A_T10TFT_A042481_20230810T190409/IMG_DATA/R20m/T10TFT_20230810T185921_B06_20m.tif","proj:bbox":[600000.0,5190240.0,709800.0,5300040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,600000.0,0.0,-20.0,5300040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        6 - Vegetation red edge 2 - 20m","eo:bands":[{"name":"B06","common_name":"rededge","description":"Band
        6 - Vegetation red edge 2","center_wavelength":0.74,"full_width_half_max":0.018}]},"B07":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/GRANULE/L2A_T10TFT_A042481_20230810T190409/IMG_DATA/R20m/T10TFT_20230810T185921_B07_20m.tif","proj:bbox":[600000.0,5190240.0,709800.0,5300040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,600000.0,0.0,-20.0,5300040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        7 - Vegetation red edge 3 - 20m","eo:bands":[{"name":"B07","common_name":"rededge","description":"Band
        7 - Vegetation red edge 3","center_wavelength":0.783,"full_width_half_max":0.028}]},"B08":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/GRANULE/L2A_T10TFT_A042481_20230810T190409/IMG_DATA/R10m/T10TFT_20230810T185921_B08_10m.tif","proj:bbox":[600000.0,5190240.0,709800.0,5300040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,600000.0,0.0,-10.0,5300040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        8 - NIR - 10m","eo:bands":[{"name":"B08","common_name":"nir","description":"Band
        8 - NIR","center_wavelength":0.842,"full_width_half_max":0.145}]},"B09":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/GRANULE/L2A_T10TFT_A042481_20230810T190409/IMG_DATA/R60m/T10TFT_20230810T185921_B09_60m.tif","proj:bbox":[600000.0,5190240.0,709800.0,5300040.0],"proj:shape":[1830,1830],"proj:transform":[60.0,0.0,600000.0,0.0,-60.0,5300040.0],"gsd":60.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        9 - Water vapor - 60m","eo:bands":[{"name":"B09","description":"Band 9 - Water
        vapor","center_wavelength":0.945,"full_width_half_max":0.026}]},"B11":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/GRANULE/L2A_T10TFT_A042481_20230810T190409/IMG_DATA/R20m/T10TFT_20230810T185921_B11_20m.tif","proj:bbox":[600000.0,5190240.0,709800.0,5300040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,600000.0,0.0,-20.0,5300040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        11 - SWIR (1.6) - 20m","eo:bands":[{"name":"B11","common_name":"swir16","description":"Band
        11 - SWIR (1.6)","center_wavelength":1.61,"full_width_half_max":0.143}]},"B12":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/GRANULE/L2A_T10TFT_A042481_20230810T190409/IMG_DATA/R20m/T10TFT_20230810T185921_B12_20m.tif","proj:bbox":[600000.0,5190240.0,709800.0,5300040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,600000.0,0.0,-20.0,5300040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        12 - SWIR (2.2) - 20m","eo:bands":[{"name":"B12","common_name":"swir22","description":"Band
        12 - SWIR (2.2)","center_wavelength":2.19,"full_width_half_max":0.242}]},"B8A":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/GRANULE/L2A_T10TFT_A042481_20230810T190409/IMG_DATA/R20m/T10TFT_20230810T185921_B8A_20m.tif","proj:bbox":[600000.0,5190240.0,709800.0,5300040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,600000.0,0.0,-20.0,5300040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        8A - Vegetation red edge 4 - 20m","eo:bands":[{"name":"B8A","common_name":"rededge","description":"Band
        8A - Vegetation red edge 4","center_wavelength":0.865,"full_width_half_max":0.033}]},"SCL":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/GRANULE/L2A_T10TFT_A042481_20230810T190409/IMG_DATA/R20m/T10TFT_20230810T185921_SCL_20m.tif","proj:bbox":[600000.0,5190240.0,709800.0,5300040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,600000.0,0.0,-20.0,5300040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Scene
        classfication map (SCL)"},"WVP":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/GRANULE/L2A_T10TFT_A042481_20230810T190409/IMG_DATA/R10m/T10TFT_20230810T185921_WVP_10m.tif","proj:bbox":[600000.0,5190240.0,709800.0,5300040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,600000.0,0.0,-10.0,5300040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Water
        vapour (WVP)"},"visual":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/GRANULE/L2A_T10TFT_A042481_20230810T190409/IMG_DATA/R10m/T10TFT_20230810T185921_TCI_10m.tif","proj:bbox":[600000.0,5190240.0,709800.0,5300040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,600000.0,0.0,-10.0,5300040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"True
        color image","eo:bands":[{"name":"B04","common_name":"red","description":"Band
        4 - Red","center_wavelength":0.665,"full_width_half_max":0.038},{"name":"B03","common_name":"green","description":"Band
        3 - Green","center_wavelength":0.56,"full_width_half_max":0.045},{"name":"B02","common_name":"blue","description":"Band
        2 - Blue","center_wavelength":0.49,"full_width_half_max":0.098}]},"safe-manifest":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/manifest.safe","type":"application/xml","roles":["metadata"],"title":"SAFE
        manifest"},"granule-metadata":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/GRANULE/L2A_T10TFT_A042481_20230810T190409/MTD_TL.xml","type":"application/xml","roles":["metadata"],"title":"Granule
        metadata"},"inspire-metadata":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/INSPIRE.xml","type":"application/xml","roles":["metadata"],"title":"INSPIRE
        metadata"},"product-metadata":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/MTD_MSIL2A.xml","type":"application/xml","roles":["metadata"],"title":"Product
        metadata"},"datastrip-metadata":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/10/T/FT/2023/08/10/S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE/DATASTRIP/DS_S2RP_20241026T031807_S20230810T190409/MTD_DS.xml","type":"application/xml","roles":["metadata"],"title":"Datastrip
        metadata"},"tilejson":{"title":"TileJSON with default rendering","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/tilejson.json?collection=sentinel-2-l2a&item=S2A_MSIL2A_20230810T185921_R013_T10TFT_20241026T031807&assets=visual&asset_bidx=visual%7C1%2C2%2C3&nodata=0&format=png","type":"application/json","roles":["tiles"]},"rendered_preview":{"title":"Rendered
        preview","rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/preview.png?collection=sentinel-2-l2a&item=S2A_MSIL2A_20230810T185921_R013_T10TFT_20241026T031807&assets=visual&asset_bidx=visual%7C1%2C2%2C3&nodata=0&format=png","roles":["overview"],"type":"image/png"}},"geometry":{"type":"Polygon","coordinates":[[[-121.6633998,47.8459211],[-120.1971533,47.8194744],[-120.248915,46.8326283],[-121.6881131,46.858182],[-121.6633998,47.8459211]]]},"collection":"sentinel-2-l2a","properties":{"datetime":"2023-08-10T18:59:21.024000Z","platform":"Sentinel-2A","proj:epsg":32610,"instruments":["msi"],"s2:mgrs_tile":"10TFT","constellation":"Sentinel
        2","s2:granule_id":"S2A_OPER_MSI_L2A_TL_S2RP_20241026T031807_A042481_T10TFT_N05.10","eo:cloud_cover":27.856523,"s2:datatake_id":"GS2A_20230810T185921_042481_N05.10","s2:product_uri":"S2A_MSIL2A_20230810T185921_N0510_R013_T10TFT_20241026T031807.SAFE","s2:datastrip_id":"S2A_OPER_MSI_L2A_DS_S2RP_20241026T031807_S20230810T190409_N05.10","s2:product_type":"S2MSI2A","sat:orbit_state":"descending","s2:datatake_type":"INS-NOBS","s2:generation_time":"2024-10-26T03:18:07.000000Z","sat:re[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/sas/v1/token/sentinel2l2a01/sentinel2-l2
  response:
    body:
      string: '{"msft:expiry":"2026-09-16T17:14:53Z","token":"st=2026-09-15T16%3A29%3A53Z&se=2026-09-16T17%3A14%3A53Z&sp=rl&sv=2025-07-05&sr=c&skoid=9c8ff44a-6a2c-4dfb-b298-1c9212f64d9a&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2026-09-16T13%3A49%3A25Z&ske=2026-09-23T13%3A49%3A25Z&sks=b&skv=2025-07-05&sig=12qVmYKzmPukFMHkRrsqfhxWr/bDxkF3kCbg5nAvbmQ%3D"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
