interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: '{"collections": ["cop-dem-glo-90"], "intersects": {"type": "Polygon", "coordinates":
      [[[-121.54, 46.72], [-121.54, 46.99], [-121.94, 46.99], [-121.94, 46.72], [-121.54,
      46.72]]]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":1,"returned":1},"numberMatched":1,"numberReturned":1,"features":[{"type":"Feature","stac_version":"1.0.0","id":"Copernicus_DSM_COG_30_N46_00_W122_00_DEM","properties":{"platform":"tandem-x","gsd":90,"proj:epsg":4326,"proj:transform":[0.0008333333333333334,0,-122.00041666666667,0,-0.0008333333333333334,47.000416666666666],"proj:shape":[1200,1200],"proj:centroid":{"lat":46.5,"lon":-121.5},"grid:code":"CDEM-N46W122","storage:platform":"AWS","storage:region":"eu-central-1","storage:requester_pays":false,"earthsearch:payload_id":"cop-dem-glo/workflow-cop-dem-glo-to-stac/b0317913880cc4a2757a8a4bc8ba6e36","datetime":"2021-04-22T00:00:00Z","processing:software":{"cop-dem-glo-to-stac":"2023.03.28"},"created":"2023-03-28T15:23:27.599Z","updated":"2023-04-20T18:13:20.993Z"},"geometry":{"type":"Polygon","coordinates":[[[-121.00041666666667,46.000416666666666],[-121.00041666666667,47.000416666666666],[-122.00041666666667,47.000416666666666],[-122.00041666666667,46.000416666666666],[-121.00041666666667,46.000416666666666]]]},"links":[{"rel":"self","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-90/items/Copernicus_DSM_COG_30_N46_00_W122_00_DEM"},{"rel":"canonical","href":"s3://earthsearch-data/cop-dem-glo-90/Copernicus_DSM_COG_30_N46_00_W122_00_DEM/Copernicus_DSM_COG_30_N46_00_W122_00_DEM.json","type":"application/json"},{"rel":"handbook","href":"https://object.cloud.sdsc.edu/v1/AUTH_opentopography/www/metadata/Copernicus_metadata.pdf","type":"application/pdf","title":"Copernicus
        DEM User handbook","description":"Also includes data usage information"},{"rel":"parent","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-90"},{"rel":"collection","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-90"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"thumbnail","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-90/items/Copernicus_DSM_COG_30_N46_00_W122_00_DEM/thumbnail"}],"assets":{"data":{"href":"s3://copernicus-dem-90m/Copernicus_DSM_COG_30_N46_00_W122_00_DEM/Copernicus_DSM_COG_30_N46_00_W122_00_DEM.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Data","raster:bands":[{"sampling":"point","data_type":"float32","spatial_resolution":90,"unit":"meter"}],"roles":["data"]}},"bbox":[-122.00041666666667,46.000416666666666,-121.00041666666667,47.000416666666666],"stac_extensions":["https://stac-extensions.github.io/storage/v1.0.0/schema.json","https://stac-extensions.github.io/processing/v1.1.0/schema.json","https://stac-extensions.github.io/raster/v1.1.0/schema.json","https://stac-extensions.github.io/grid/v1.1.0/schema.json","https://stac-extensions.github.io/projection/v1.1.0/schema.json"],"collection":"cop-dem-glo-90"}],"links":[{"rel":"next","title":"Next
        page of Items","method":"POST","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","merge":false,"body":{"intersects":{"type":"Polygon","coordinates":[[[-121.54,46.72],[-121.54,46.99],[-121.94,46.99],[-121.94,46.72],[-121.54,46.72]]]},"collections":["cop-dem-glo-90"],"next":"2021-04-22T00:00:00Z,Copernicus_DSM_COG_30_N46_00_W122_00_DEM,cop-dem-glo-90"}},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"}]}'
    headers:
      Content-Type:
      - application/geo+json; charset=utf-8
      etag:
      - W/"dcc-xyyCNY4ddpfo/xVYtys8GfVUYDk"
      x-amz-apigw-id:
      - DzNe2G9xvHcEpkg=
      x-amzn-Remapped-content-length:
      - '3532'
      x-amzn-RequestId:
      - 904cd929-dbfb-40d0-af79-0c201d947324
    status:
      code: 200
      message: OK
- request:
    body: '{"intersects": {"type": "Polygon", "coordinates": [[[-121.54, 46.72], [-121.54,
      46.99], [-121.94, 46.99], [-121.94, 46.72], [-121.54, 46.72]]]}, "collections":
      ["cop-dem-glo-90"], "next": "2021-04-22T00:00:00Z,Copernicus_DSM_COG_30_N46_00_W122_00_DEM,cop-dem-glo-90"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":1,"returned":0},"numberMatched":1,"numberReturned":0,"features":[],"links":[{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"}]}'
    headers:
      Content-Type:
      - application/geo+json; charset=utf-8
      etag:
      - W/"111-Kmu2bvrwT8nddklYPLUJQUFqSJg"
      x-amz-apigw-id:
      - DzNe-EOXvHcESbA=
      x-amzn-Remapped-content-length:
      - '273'
      x-amzn-RequestId:
      - 45d35201-d61f-4119-a9aa-79aeb56c26fd
    status:
      code: 200
      message: OK
version: 1
