interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/ogcapi-features"],"links":[{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"data","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://planetarycomputer.microsoft.com/api/stac/v1/conformance"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","href":"https://planetarycomputer.microsoft.com/api/stac/v1/search","method":"GET"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","href":"https://planetarycomputer.microsoft.com/api/stac/v1/search","method":"POST"},{"rel":"http://www.opengis.net/def/rel/ogc/1.0/queryables","type":"application/schema+json","title":"Queryables
        available for this Catalog","href":"https://planetarycomputer.microsoft.com/api/stac/v1/queryables","method":"GET"},{"rel":"service-desc","type":"application/vnd.oai.openapi+json;version=3.0","title":"OpenAPI
        service description","href":"https://planetarycomputer.microsoft.com/api/stac/v1/openapi.json"},{"rel":"service-doc","type":"text/html","title":"OpenAPI
        service documentation","href":"https://planetarycomputer.microsoft.com/api/stac/v1/docs"}],"stac_extensions":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/[...]
- request:
    body: '{"datetime": "2023-08-01T00:00:00Z/2023-08-10T23:59:59Z", "collections":
      ["sentinel-1-rtc"], "intersects": {"type": "Polygon", "coordinates": [[[-121.54,
      46.72], [-121.54, 46.99], [-121.94, 46.99], [-121.94, 46.72], [-121.54, 46.72]]]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","links":[{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/search"}],"features":[{"id":"S1A_IW_GRDH_1SDV_20230808T142219_20230808T142244_049785_05FCA0_rtc","bbox":[-124.94283570385136,45.34077868353145,-121.36920456496222,47.223652237542424],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-rtc"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-rtc"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-rtc/items/S1A_IW_GRDH_1SDV_20230808T142219_20230808T142244_049785_05FCA0_rtc"},{"rel":"license","href":"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice"},{"rel":"derived_from","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-grd/items/S1A_IW_GRDH_1SDV_20230808T142219_20230808T142244_049785_05FCA0","type":"application/json","title":"Sentinel
        1 GRD Item"},{"rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=sentinel-1-rtc&item=S1A_IW_GRDH_1SDV_20230808T142219_20230808T142244_049785_05FCA0_rtc","title":"Map
        of item","type":"text/html"}],"assets":{"vh":{"href":"https://sentinel1euwestrtc.blob.core.windows.net/sentinel1-grd-rtc/GRD/2023/8/8/IW/DV/S1A_IW_GRDH_1SDV_20230808T142219_20230808T142244_049785_05FCA0_71A0/measurement/iw-vh.rtc.tiff","file:size":1828207461,"file:checksum":"51809e2c99e1eb47ab1148f2062782a9","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"VH:
        vertical transmit, horizontal receive","description":"Terrain-corrected gamma
        naught values of signal transmitted with vertical polarization and received
        with horizontal polarization with radiometric terrain correction applied.","raster:bands":[{"nodata":-32768,"data_type":"float32","spatial_resolution":10}]},"vv":{"href":"https://sentinel1euwestrtc.blob.core.windows.net/sentinel1-grd-rtc/GRD/2023/8/8/IW/DV/S1A_IW_GRDH_1SDV_20230808T142219_20230808T142244_049785_05FCA0_71A0/measurement/iw-vv.rtc.tiff","file:size":1836659122,"file:checksum":"46c72d8da2cf315c7d745fb3166222e8","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"VV:
        vertical transmit, vertical receive","description":"Terrain-corrected gamma
        naught values of signal transmitted with vertical polarization and received
        with vertical polarization with radiometric terrain correction applied.","raster:bands":[{"nodata":-32768,"data_type":"float32","spatial_resolution":10}]},"tilejson":{"title":"TileJSON
        with default rendering","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/tilejson.json?collection=sentinel-1-rtc&item=S1A_IW_GRDH_1SDV_20230808T142219_20230808T142244_049785_05FCA0_rtc&assets=vv&assets=vh&tile_format=png&expression=0.03+%2B+log+%2810e-4+-+log+%280.05+%2F+%280.02+%2B+2+%2A+vv%29%29%29%3B0.05+%2B+exp+%280.25+%2A+%28log+%280.01+%2B+2+%2A+vv%29+%2B+log+%280.02+%2B+5+%2A+vh%29%29%29%3B1+-+log+%280.05+%2F+%280.045+-+0.9+%2A+vv%29%29&asset_as_band=True&rescale=0%2C.8000&rescale=0%2C1.000&rescale=0%2C1.000&format=png","type":"application/json","roles":["tiles"]},"rendered_preview":{"title":"Rendered
        preview","rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/preview.png?collection=sentinel-1-rtc&item=S1A_IW_GRDH_1SDV_20230808T142219_20230808T142244_049785_05FCA0_rtc&assets=vv&assets=vh&tile_format=png&expression=0.03+%2B+log+%2810e-4+-+log+%280.05+%2F+%280.02+%2B+2+%2A+vv%29%29%29%3B0.05+%2B+exp+%280.25+%2A+%28log+%280.01+%2B+2+%2A+vv%29+%2B+log+%280.02+%2B+5+%2A+vh%29%29%29%3B1+-+log+%280.05+%2F+%280.045+-+0.9+%2A+vv%29%29&asset_as_band=True&rescale=0%2C.8000&rescale=0%2C1.000&rescale=0%2C1.000&format=png","roles":["overview"],"type":"image/png"}},"geometry":{"type":"Polygon","coordinates":[[[-121.73448438049485,45.511743240283266],[-121.36920456496222,46.83815337475274],[-124.60652269432555,47.223652237542424],[-124.94283570385136,45.725410153218235],[-121.79835306636791,45.34077868353145],[-121.73448438049485,45.511743240283266]]]},"collection":"sentinel-1-rtc","properties":{"datetime":"2023-08-08T14:22:32.161977Z","platform":"SENTINEL-1A","s1:shape":[28088,21073],"proj:bbox":[346340.0,5020980.0,627220.0,5231710.0],"proj:epsg":32610,"proj:shape":[21073,28088],"end_datetime":"2023-08-08
        14:22:44.660976+00:00","constellation":"Sentinel-1","s1:resolution":"high","proj:transform":[10.0,0.0,346340.0,0.0,-10.0,5231710.0,0.0,0.0,1.0],"s1:datatake_id":"392352","start_datetime":"2023-08-08
        14:22:19.662978+00:00","s1:orbit_source":"RESORB","s1:slice_number":"5","s1:total_slices":"12","sar:looks_range":5,"sat:orbit_state":"descending","sar:product_type":"GRD","sar:looks_azimuth":1,"sar:polarizations":["VV","VH"],"sar:frequency_band":"C","sat:absolute_orbit":49785,"sat:relative_orbit":13,"s1:processing_level":"1","sar:instrument_mode":"IW","sar:center_frequency":5.405,"sar:resolution_range":20,"s1:product_timeliness":"Fast-24h","sar:resolution_azimuth":22,"sar:pix[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/sas/v1/token/sentinel1euwestrtc/sentinel1-grd-rtc
  response:
    body:
      string: '{"msft:expiry":"2026-09-16T17:38:48Z","token":"st=2026-09-15T16%3A53%3A48Z&se=2026-09-16T17%3A38%3A48Z&sp=rl&sv=2025-07-05&sr=c&skoid=9c8ff44a-6a2c-4dfb-b298-1c9212f64d9a&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2026-09-16T14%3A42%3A29Z&ske=2026-09-23T14%3A42%3A29Z&sks=b&skv=2025-07-05&sig=BzqZuNd1GJOqhY03HyoSyUtJPNhDMZhnF/Lt6jTsYLE%3D"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
