interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/cloudstac/ASF
  response:
    body:
      string: '{"type":"Catalog","id":"ASF","title":"ASF STAC Catalog","stac_version":"1.0.0","description":"Root
        STAC catalog for ASF","conformsTo":["https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#features","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/item-search#context","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0/collection-search","https://api.stacspec.org/v1.0.0/collection-search#free-text","https://api.stacspec.org/v1.0.0/collection-search#sort","http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/simple-query"],"links":[{"rel":"self","href":"https://cmr.earthdata.nasa.gov/cloudstac/ASF","type":"application/geo+json","title":"Provider
        Catalog"},{"rel":"root","href":"https://cmr.earthdata.nasa.gov/cloudstac","type":"application/json","title":"Root
        Catalog"},{"rel":"parent","href":"https://cmr.earthdata.nasa.gov/cloudstac","type":"application/json","title":"Root
        Catalog"},{"rel":"data","href":"https://cmr.earthdata.nasa.gov/cloudstac/ASF/collections","type":"application/json","title":"Provider
        Collectio[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/cloudstac
  response:
    body:
      string: '{"type":"Catalog","id":"CMR-CLOUDSTAC","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#features","https://api.stacspec.org/v1.0.0/item-s[...]
- request:
    body: '{"datetime": "2024-07-01T00:00:00Z/2024-07-10T23:59:59Z", "collections":
      ["OPERA_L2_RTC-S1_V1_1"], "intersects": {"type": "Polygon", "coordinates": [[[-121.54,
      46.72], [-121.54, 46.99], [-121.94, 46.99], [-121.94, 46.72], [-121.54, 46.72]]]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cmr.earthdata.nasa.gov/cloudstac/ASF/search
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","id":"OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/storage/v2.0.0/schema.json"],"properties":{"datetime":"2024-07-01T01:54:19.000Z","storage:schemes":{"aws":{"type":"aws-s3","platform":"https://{bucket}.s3.{region}.amazonaws.com","bucket":"asf-cumulus-prod-opera-products","region":"us-west-2"}},"start_datetime":"2024-07-01T01:54:19.000Z","end_datetime":"2024-07-01T01:54:22.000Z"},"geometry":{"type":"Polygon","coordinates":[[[-122.06883,46.60485],[-121.52139,46.67731],[-120.89969,46.75619],[-120.93598,46.92247],[-122.12273,46.76926],[-122.06883,46.60485]]]},"bbox":[-122.12273,46.60485,-120.89969,46.92247],"assets":{"0":{"href":"https://datapool.asf.alaska.edu/RTC/OPERA-S1/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0.h5","title":"Direct
        Download [3]","description":"Download OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0.h5","roles":["data"]},"browse":{"href":"https://datapool.asf.alaska.edu/BROWSE/OPERA-S1/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_BROWSE_thumbnail.png","title":"Download
        OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_BROWSE_thumbnail.png","type":"image/jpeg","roles":["browse"]},"thumbnail_0":{"href":"https://datapool.asf.alaska.edu/BROWSE/OPERA-S1/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_BROWSE.png","title":"Thumbnail
        [0]","description":"Download OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_BROWSE.png","roles":["thumbnail"]},"thumbnail_1":{"href":"s3://asf-cumulus-prod-opera-browse/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_BROWSE.png","title":"Thumbnail
        [1]","description":"This link provides direct download access via S3 to OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_BROWSE.png","roles":["thumbnail"]},"thumbnail_2":{"href":"https://datapool.asf.alaska.edu/BROWSE/OPERA-S1/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_BROWSE_low-res.png","title":"Thumbnail
        [2]","description":"Download OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_BROWSE_low-res.png","roles":["thumbnail"]},"thumbnail_3":{"href":"s3://asf-cumulus-prod-opera-browse/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_BROWSE_low-res.png","title":"Thumbnail
        [3]","description":"This link provides direct download access via S3 to OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_BROWSE_low-res.png","roles":["thumbnail"]},"thumbnail_4":{"href":"https://datapool.asf.alaska.edu/BROWSE/OPERA-S1/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_BROWSE_thumbnail.png","title":"Thumbnail
        [4]","description":"Download OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_BROWSE_thumbnail.png","roles":["thumbnail"]},"thumbnail_5":{"href":"s3://asf-cumulus-prod-opera-browse/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_BROWSE_thumbnail.png","title":"Thumbnail
        [5]","description":"This link provides direct download access via S3 to OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_BROWSE_thumbnail.png","roles":["thumbnail"]},"0_VH":{"href":"https://datapool.asf.alaska.edu/RTC/OPERA-S1/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_VH.tif","title":"Direct
        Download [0]","description":"Download OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_VH.tif","roles":["data"]},"0_VV":{"href":"https://datapool.asf.alaska.edu/RTC/OPERA-S1/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_VV.tif","title":"Direct
        Download [1]","description":"Download OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_VV.tif","roles":["data"]},"0_mask":{"href":"https://datapool.asf.alaska.edu/RTC/OPERA-S1/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_mask.tif","title":"Direct
        Download [2]","description":"Download OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_mask.tif","roles":["data"]},"s3_0_VH":{"href":"s3://asf-cumulus-prod-opera-products/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_VH.tif","title":"S3
        Direct Download [0]","description":"This link provides direct download access
        via S3 to OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_VH.tif","roles":["data"],"storage:refs":["aws"]},"s3_0_VV":{"href":"s3://asf-cumulus-prod-opera-products/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_VV.tif","title":"S3
        Direct Download [1]","description":"This link provides direct download access
        via S3 to OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_VV.tif","roles":["data"],"storage:refs":["aws"]},"s3_0_mask":{"href":"s3://asf-cumulus-prod-opera-products/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_mask.tif","title":"S3
        Direct Download [2]","description":"This link provides direct download access
        via S3 to OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0_mask.tif","roles":["data"],"storage:refs":["aws"]},"s3_0":{"href":"s3://asf-cumulus-prod-opera-products/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0.h5","title":"S3
        Direct Download [3]","description":"This link provides direct download access
        via S3 to OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0.h5","roles":["data"],"storage:refs":["aws"]},"metadata":{"href":"https://cmr.earthdata.nasa.gov/search/concepts/G3139994938-ASF.xml","title":"CMR
        XML metadata for G3139994938-ASF","type":"application/xml","roles":["metadata"]}},"links":[{"rel":"self","href":"https://cmr.earthdata.nasa.gov/cloudstac/ASF/collections/OPERA_L2_RTC-S1_V1_1/items/OPERA_L2_RTC-S1_T064-135596-IW1_20240701T015419Z_20240701T090857Z_S1A_30_v1.0","type":"application/geo+json"},{"rel":"parent","href":"https://cmr.earthdata.nasa.gov/cloudstac/ASF/collections/OPERA_L2_RTC-S1_V1_1/","type":"application/geo+json"},{"rel":"collection","href":"https://cmr.earthdata.nasa.gov/cloudstac/ASF/collections/OPERA_L2_RTC-S1_V1_1/","type":"application/geo+json"},{"rel":"root","href":"https://cmr.earthdata.nasa.gov/cloudstac","type":"application/json"},{"rel":"provider","href":"https://cmr.earthdata.nasa.gov/cloudstac/ASF","type":"application/json"},{"rel":"via","href":"https://cmr.earthdata.nasa.gov/search/concepts/G3139994938-ASF.json","title":"CMR
        JSON metadata for item","type":"application/json"},{"rel":"via","href":"https://cmr.earthdata.nasa.gov/search/concepts/G3139994938-ASF.umm_json","title":"CMR
        UMM_JSON metadata for item","type":"application/vnd.nasa.cmr.umm+json"}],"collection":"OPERA_L2_RTC-S1_V1_1"},{"type":"Feature","id":"OPERA_L2_RTC-S1_T064-135597-IW1_20240701T015421Z_20240701T090857Z_S1A_30_v1.0","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/storage/v2.0.0/schema.json"],"properties":{"datetime":"2024-07-01T01:54:21.000Z","storage:schemes":{"aws":{"type":"aws-s3","platform":"https://{bucket}.s3.{region}.amazonaws.com","bucket":"asf-cumulus-prod-opera-products","region":"us-west-2"}},"start_datetime":"2024-07-01T01:54:21.000Z","end_da[...]
